<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://afleveringuge2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6433367b-a225-461a-9549-4f05659ac50d/resourceGroups/storesystemeruge2/providers/Microsoft.Web/sites/afleveringuge2</ResourceId>
    <UserName>$afleveringuge2</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://afleveringuge2.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>